
<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %} 
{% load custom_filters %}

{% block title %}
News
{% endblock title %}
 
{% block content %}
<h1>Поиск постов</h1>
<h3>{{ time_now|date:'M d Y' }}</h3>
<hr>
<form method="GET">
	{{ filter.form }}
	<input type="submit" value="Найти">
</form>
<a href="{% url 'news' %}"><button>На главную страницу</button></a>

<table>
	<thead> 
		<td>
		Вид поста
	    </td>
		<td>
		Автор
		</td>
		<td>
		Заголовок
		</td>
		<td>
		Создан
		</td>
		<td>
		Превью
		</td>
	</thead>
{% for post in filter.qs %}
<tr>    <td>
	{{post.get_kind_of_post_display}}
        </td>
	<td>
	{{post.post_author_id|author}}
	</td>
	<td>
	{{post.header|censor}}
	</td>
	<td>
	{{post.created_at|date:"d.m.y, H:i"}}
        </td>
        <td>
        {{post.main_text|censor|truncatechars:50}}
        </td>
</tr>
{% endfor %}
</table>
{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
{% endif %}
{% endblock content %}
