
<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %} 
{% load custom_filters %}

{% block title %}
News
{% endblock title %}
 
{% block content %}
<h1>Удалить пост</h1>
<h2><h2>Вы действительно хотите удалить данный пост?</h2></h2>
<h3>{{ time_now|date:'M d Y' }}</h3>
<h1>{{post.header|censor}}</h1>
<hr>
<ul>
    <li>Автор: {{value1}}</li>
    <li>{{post.created_at|date:"d.m.y_H:i"}}</li>
    <li>{{post.main_text|censor}}</li>
    <li>Рейтинг:{{post.post_rate}}</li>
</ul>
<form method="POST">
    {% csrf_token %}
    <input type="submit" value="Подтвердить">
</form>
<a href="{% url 'post' post.id %}"><button>Назад к посту</button></a>
<a href="{% url 'news'  %}"><button>На главную страницу</button></a>
{% endblock content %}