<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %} 
{% load custom_filters %}
 

{% block title %}
Новости
{% endblock title %}
 

{% block content %}

<h1>{{post.header|censor}}</h1>
<hr>
<ul>
	<li>Автор: {{value1}}</li>
	<li>{{post.created_at|date:"d.m.y_H:i"}}</li>
	<li>{{post.main_text|censor}}</li>
	<li>Рейтинг:{{post.post_rate}}</li>
</ul>
<a href="{% url 'edit' post.id %}"><button>Редактировать</button></a>
<a href="{% url 'delete' post.id %}"><button>Удалить пост</button></a>
<a href="{% url 'news' %}"><button>Назад к постам</button></a>
<hr>

<form action="become_subscriber_detail/" method="POST">
{% csrf_token %} 
{% for category in post.category.filter %}
    <label for="category_of_post">Категория: {{ category }}</label>
    <input id="category_of_post" type="checkbox" name="category" value="{{ category }}">
{% endfor %}
    <input type="submit" value="Подписаться на категории">


</form>



{% endblock content %} 
