<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
</head>
<body>
    <h3>Уважаемый {{user}}!</h3>
    <p></p>
    <h4>Недельные обновления в категории {{cat}}.</h4>
    <hr>
    {% for post in posts %}
        <li>
            <p>{{ post.getpost }}</p>
            <p></p>
            <h3><a href="{{ link }}{{ post.get_absolute_url }}">{{ post.header}}</a></h3>
            <p></p>
            <h4><em>{{ post.preview}}</em></h4>
        </li>
    {% endfor %}
</body>
</html>